.main {
  height: 100vh;
  width: 100vw;
  background-color: #0F1419;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.leftContent {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 50px;
}

.rightContent {
  grid-column-start: 10;
  grid-column-end: 14;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.middleContent {
  grid-column-start: 4;
  grid-column-end: 10;
  width: 100%;
  flex-direction: column;
  border-left: solid 1px #697381;
  border-right: solid 1px #697381;
  width: 100%;
  color: white;
  /* padding: 10px 30px ; */
}

.newTweetContainer{
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 50px;
  height: auto;
  transform: scale(-1, -1);

}
.icon{  
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.leftBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.firstnameText{
  font-weight: 700;
  color: white;
}

.usernameText{
  font-weight: 300;  
  color: #697381;
}

.tweetPlaceholder{
  all: unset;
  color: #697381;
  border-bottom: solid 1px #697381;
  width: 100%;
  resize: vertical
}

.tweetInput{
  all: unset;
  color: white;
  border-bottom: solid 1px #697381;
  width: 100%;
  resize: vertical
}



.logoutButton{
  all: unset;
  border: solid 1px white;
  background-color: #0F1419;
  color: white;
  padding: 5px 25px 8px;
  border-radius: 20px;
  cursor: pointer;
}

.logoutButton:hover{
background-color: #697381;
}

.btn_signup {
  background-color: #1d9bf0;
  color: white;
  padding: 7px 25px 7px;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btn_signup:hover {
  opacity: 75%;
}



